.inputGroup {
  display: flex;
  flex-direction: column;
  gap: 16px;

  label {
    font-size: 14px;
    font-weight: 600;
    color: #333;
  }

  .formControl {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 0px;
  }

  .title {
    font-size: 14px;
    font-weight: 600;
    color: #333;
  }

  input,
  textarea {
    width: 100%;
    font-size: 14px;
    font-family: inherit;
    padding: 10px 12px;
    border: 1px solid #ddd;
    border-radius: 6px;
    background-color: #fff;
    color: #000;
    resize: vertical;

    &::placeholder {
      color: #bbb;
    }

    &:focus {
      border-color: #0085ff;
      outline: none;
    }
  }
}

.warning {
  color: #d93025;
  font-size: 13px;
  margin-top: 0px;
  margin-left: 2px;
}

.labeledInput {
  display: flex;
  flex-direction: column;
  gap: 6px;

  .inlineInput {
    display: flex;
    align-items: center;
    gap: 8px;

    input {
      flex: none;
      width: 120px;
    }

    .unit {
      font-size: 14px;
      color: #555;
    }
  }
}

.testcaseSection {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.testcaseLabel {
  font-weight: 600;
  margin: 0;
}

.testcaseInfo {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 14px;
  color: #333;

  .icon {
    height: 20px;
  }
}

.testcaseRow {
  display: flex;
  align-items: center;
  gap: 8px;

  input[type="checkbox"] {
    transform: scale(1.2);
    accent-color: #0085ff;
    cursor: pointer;
  }
}

.testcaseInput {
  flex: 1;
  font-size: 14px;
  font-family: inherit;
  padding: 10px 12px;
  border: 1px solid #ddd;
  border-radius: 6px;
  background-color: #fff;
  color: #000;

  &::placeholder {
    color: #bbb;
  }

  &:focus {
    border-color: #0085ff;
    outline: none;
  }
}

.testcaseWarning {
  font-size: 13px;
  margin-top: 8px;
  color: #ff4d4f;
  background-color: #fff2f0;
  padding: 8px 12px;
  border: 1px solid #ffa39e;
  border-radius: 6px;
}

.addBtn,
.submitBtn {
  background: #0085ff;
  border: 1px solid #007aff;
  color: #fff;
  padding: 12px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
}

.addBtn {
  margin-top: 8px;
}

.submitBtn {
  width: 100%;
  font-size: 16px;
  font-weight: bold;
  margin-top: 32px;
  padding: 14px 0;
  border: none;
}

/* number input 화살표 제거 (크롬) */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
