th {
    text-align: left;
}

.test_table {
    display: flex;
    flex-direction: column;
}

.test_head{
    border-radius: 8px;
    background-color: gray;
    display: flex;
    height: 30px;
    align-items: center;
    margin-bottom: 10px;
}
.test_body{
    display: flex;
    align-items: center;
    padding:0.5rem 0.5rem 0.5rem 0;
    margin-bottom: 1rem;
    border-bottom: 1px solid gray;
}
.test_tr1 {
    width: 10%;
    margin-left: 0.5rem;
}

.test_tr2 {
    width: 40%;
}

.test_tr3 {
    width: 20%;
}

.test_tr4 {
    width: 20%;
}

.test_tr5 {
    width: 10%;
}
.test_p {
    padding: 0;
    margin-left: 0.5rem;
}

.test_box{
    width: 100%;
    height: 100% ;
    background-color: black;
    color: white;
    font-size: 11px;
    overflow-y: scroll;
}

