.flex {
    display: flex;
    flex-direction: column;
    flex:1;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
}

.flex_space {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
}

.button {
    border: none;
    border-radius: 0.5rem;
    background-color: #0085ff;
    color: white;
    min-width: 100px;
    height: 30px;
    font-size: 1rem;
    margin: 10px 5px;
    cursor: pointer;
}
.button.submit {
    background-color: red;
}

.select {
    height: 30px;
    border-radius: 0.45rem;
    margin-right: 0.5rem;
}

.resetModal{
    position: absolute;
    width: 600px;
    height: 100px;
    transform: translate(25%, 100%);
    display: none;
    z-index: 1000;
    border: 1px solid black;
    border-radius: 1rem;
    background-color: white;
}

.resetModal.action{
    display: block;
}

.resetModal_box {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

.resetModal_button {
    border: 1px solid white;
    border-radius: 0.75rem;
    background-color: #0085ff;
    color: white;
    width: 80px;
    height: 30px;
    cursor: pointer;
    margin: 0.5rem;
}

.font_color {
    color: rgba(117, 117, 117, 0.431);
}

.terminal_case {
    width: 100px;
    height: 30px;
    display: flex;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    color: white;
    background-color: gray;
    font-size: 13px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.terminal_case.terminal_case_active {
    background-color: black;

}